<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.lfq.dao.AlbumDao">
    <resultMap id="album" type="com.baizhi.lfq.entity.Album">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="score" property="score"></result>
        <result column="brodecast" property="brodecast"></result>
        <result column="author" property="author"></result>
        <result column="description" property="description"></result>
        <result column="publicTime" property="publicTime"></result>
        <result column="count" property="count"></result>
        <result column="coverImg" property="coverImg"></result>
        <result column="status" property="status"></result>
        <collection property="children" ofType="com.baizhi.lfq.entity.Chapter" select="com.baizhi.lfq.dao.ChapterDao.selectOneChapter" column="id"></collection>
    </resultMap>
    <!--查所有专辑-->
    <select id="selectAllAlbum" resultMap="album">
        select id,title,score,brodecast,author,description,publicTime,count,coverImg,status from album
    </select>
    <!--添加专辑-->
    <insert id="insertOneAlbum" parameterType="com.baizhi.lfq.entity.Album">
        insert into album values(#{id},#{title},#{score},#{brodecast},#{author},#{description},#{publicTime},#{count},#{coverImg},#{status})
    </insert>
    <!--删除专辑-->
    <delete id="deleteOneAlbum" parameterType="String">
        delete from album where id=#{id}
    </delete>
</mapper>
